        <!-- <link rel="stylesheet" href="/css/user_profile.css"> -->
        

        <img src="<%= user.avatar %>" alt="<%= user.name %> profile pictire" height="125px" width="125px">

        <br>
        <hr>

        
        
        

        <!-- user.id (current logged in user) profile_user (a user whode profile page is being accessed) -->
        <!-- if both are same we can say that the profile is being accessed by its owner and not by the friend -->
        <% if(user.id == profile_user.id){ %>
            <!-- if the user matches then show the form -->
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
                <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                <input type="text" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
                <input type="file" name="avatar" placeholder="Profile Picture">
                <input type="submit" value="Update">
            </form>
            
        <% } else { %>
            <!-- else show the profile info only -->

            <!-- home.ejs has listed the friends list...where the frinds name has been linked to the respective profile pages -->
            <!-- earlier we just used "user.name" instead of "profile_user.name" -->
            <!-- it worked because user.name contained the current logged in user -->
            <!-- but now we need the other person to be able to see the profile pages of their friends (but user is containing the current logged in user)
            not the one whose profile needs to be seen-->
            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>
        <% } %>